
.main-head{
    size: 200%;
    color: black;
    font-family: 'Nunito', sans-serif;
    background-color: #faf2e8;
    max-width:100%;
}

.main-head-item{
    padding-left: 50px;
    text-align: right;
}

.body{
    font-family: 'Nunito', sans-serif;
    color:black;
    size: 400%;
}
img{
    width: 100%;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #faf2e8;
}
.homepage-image{
    width: 100%;
}

a:link{
    color:magenta;
}
a:visited{
    color: gray;
}
a:hover{
    color: red;
}
a:active{
    color: magenta;
}