
.main-head{
    size: 200%;
    color: black;
    font-family: Arial Black, Arial;
    background-color: powderblue;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    size: 200%;
}
img{
    width: 100%;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: powderblue;
}
.homepage-image{
    width: 100%;
}

a:link{
    color:magenta;
}
a:visited{
    color: gray;
}
a:hover{
    color: red;
}
a:active{
    color: magenta;
}